/* SYNTAX TEST "Packages/LESS/LESS.sublime-syntax" */

@import "mixins";
/* ^ source.less meta.at-rule.css keyword.control.at-rule.css */
/*      ^ source.less string.quoted.double.css punctuation.definition.string.begin.css */
/*             ^ source.less string.quoted.double.css punctuation.definition.string.end.css */
/*        ^ source.less string.quoted.double.css */

@foreground-color: #333;
/* ^ source.less variable.declaration.less */
@background-color: hsl(30,100%,96%);
/* ^ source.less variable.declaration.less */

html {
  font-family: 'Lucida Grande', Verdana, sans-serif;
  font-size: 16px;
  display: -webkit-flex;
/*  ^ source.less support.type.property-name.css */
  -webkit-user-select: none;
/*  ^ source.less support.type.property-name.vendor-prefix.css */
  line-height: 1.5 * 20;
/*                 ^ source.less meta.property-value.css keyword.operator.less */
  line-height: (1.5 %= 20);
/*                  ^ source.less meta.property-value.css keyword.operator.less */
  color: @foreground-color;
/*         ^ source.less meta.property-value.css variable.other.less */
  padding-left: @{background-color};
/*                 ^ source.less meta.property-value.css variable.interpolation.less */
}

  a[data-property="text"] {
/* ^ source.less meta.attribute-selector.css punctuation.definition.entity.css */
/*   ^ source.less meta.attribute-selector.css entity.other.attribute-name.attribute.css */
/*               ^ source.less meta.attribute-selector.css punctuation.separator.operator.css */
/*                ^ source.less meta.attribute-selector.css string.quoted.attribute-value.css punctuation.definition.string.begin.css */
/*                  ^ source.less meta.attribute-selector.css string.quoted.attribute-value.css */
/*                     ^ source.less meta.attribute-selector.css string.quoted.attribute-value.css punctuation.definition.string.end.css */
/*                      ^ source.less meta.attribute-selector.css punctuation.definition.entity.css */
  a[value^="text"] {
/*   ^ source.less meta.attribute-selector.css entity.other.attribute-name.attribute.css */
/*       ^ source.less meta.attribute-selector.css punctuation.separator.operator.css */
  a[value~="text"] {
/*       ^ source.less meta.attribute-selector.css punctuation.separator.operator.css */
  a[value|='text'] {
/*       ^ source.less meta.attribute-selector.css punctuation.separator.operator.css */
/*           ^ source.less meta.attribute-selector.css string.quoted.attribute-value.css */
  a[value$=text] {
/*       ^ source.less meta.attribute-selector.css punctuation.separator.operator.css */
/*          ^ source.less meta.attribute-selector.css string.unquoted.attribute-value.css */
  a[value*="text" i] {
/*       ^ source.less meta.attribute-selector.css punctuation.separator.operator.css */
/*                ^ source.less meta.attribute-selector.css punctuation.definition.entity.css */
  a[value*="text" I] {
/*       ^ source.less meta.attribute-selector.css punctuation.separator.operator.css */
  color: @link-color;
  text-decoration: none;
  &:hover {
    color: lighten(@link-color, 5%);
/*  ^ source.less support.type.property-name.css */
  }
}


#namespace when (@mode = huge) {
/*                     ^ source.less parameter.less keyword.operator.less */
  .mixin() { /* */ }
}
.mixin (@a) when not (isnumber(@a)) and (@a > 0) { ... }
/*                                          ^ source.less parameter.less keyword.operator.less */

.avatar {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: url(data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7);
/*                 ^ source.less meta.property-value.css parameter.less.data-uri comment markup.raw */
/*               ^ source.less meta.property-value.css punctuation.section.function.css */
/*                                                                                                                                                                                                                                                                                                                                      ^ source.less meta.property-value.css punctuation.section.function.css */
  background: url("data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7");
/*                 ^ source.less meta.property-value.css parameter.less.data-uri comment markup.raw */
/*               ^ source.less meta.property-value.css punctuation.section.function.css */
/*                                                                                                                                                                                                                                                                                                                                        ^ source.less meta.property-value.css punctuation.section.function.css */
  background: url('data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7');
/*                 ^ source.less meta.property-value.css parameter.less.data-uri comment markup.raw */
/*                                                                                                                                                                                                                                                                                                                                        ^ source.less meta.property-value.css punctuation.section.function.css */
/*               ^ source.less meta.property-value.css punctuation.section.function.css */
}

@import "variables";
@import (reference) "variables";

.variables {
  @variable: 10px;
  @another-variable: @variable;

  width: @variable + @another-variable;
  width: @variable*2;

}

.functions {
  color: hue(orange);
  color: lighten(@color, 10%);
  color: mix(@color, #000, 25%);
  width: max(5, 10);
  width: unit(5, px);
}

.nested {
  .class {}
  &::before {}
  & + & {}
  .class & {}
  @media screen and (max-width: 100px) {}
}

.mixin {};
.mixin() {};
.mixin(@default: 10px) {};

.use-mixin {
  .mixin;
  .mixin();
  .mixin(5px);
}

.class {}
.extended {
  &:extend(.class);
  background: blue;
}

.guard() when (lightness(@a) >= 50%) {}
.guard();
